<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Recipes</title>


    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-primary text-center">
                    <h1 class="card-title">Recipes list</h1>
                </div>

                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Description</th>
                                   <!-- <th>Prep Time</th>
                                    <th>Cook Time</th>
                                    <th>Servings</th>
                                    <th>Source</th>
                                    <th>Url</th>
                                    <th>Directions</th>
                                    <th>Difficulty</th>
                                    <th>Notes</th>
                                    <th>Ingredients</th>
                                    <th>Categories</th>-->
                                </tr>
                            </thead>

                            <tr th:each="recipe : ${recipes}">
                                <td th:text="${recipe.id}">123</td>
                                <td th:text="${recipe.description}">Chicken</td>
                                <!--<td th:text="${recipe.prepTime}">1</td>
                                <td th:text="${recipe.cookTime}">1</td>
                                <td th:text="${recipe.servings}">1</td>
                                <td th:text="${recipe.source}">Recipes</td>
                                <td th:href="${recipe.url}">http</td>
                                <td th:text="${recipe.directions}">something</td>
                                <td th:text="${recipe.difficulty}">HARD</td>
                                <td></td>
                                <td></td>
                                <td></td>-->
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>